{% load static%}
<!--footer here-->

<link href='{% static 'css/footer.css' %}' rel='stylesheet'/>
 <link href='{% static 'css/img.css' %}' rel='stylesheet'/>
 <link href='{% static 'css/main.css' %}' rel='stylesheet'/>

<section id="contactus">
  <footer class="footer-distributed">
    <div class="footer-left">
      <h3>
        <img src='{% static 'img/logo.png' %}' alt='LOGO' id='logo' /> Skin
        Assist
      </h3>

      <p class="footer-links">
        <a href="{% url 'home' %}" class="link-1">Home</a>

        <a href="{% url 'about' %}">About</a>

        <a href="#contactus">Contact</a>
        <a href="{% url 'policy' %}">Privacy Policy</a>
        <a href="{% url 'terms' %}">Terms and condition</a>
      </p>

      <p class="footer-company-name">
        Copyright @ 2023 <strong> Skin Assist </strong> All rights reserved
      </p>
    </div>

    <div class="footer-center">
      <div>
        <p>
          If you have any question about<br />
          our Skin Assist system - contact with us <br />through email:
        </p>
      </div>
      <br />
      <div>
        <a href="mailto:support@skin-assist.com">yourskinassist@gmail.com</a>
      </div>
    </div>
    

    <div class="footer-right">
      <p class="footer-company-about">
        <span>About the company</span>
        Skin Assist is not intended to perform diagnosis, but rather to provide
        users the ability to image, track, and better understand their moles.
      </p>
    </div>

  
    <div id="chat-container">
      <div id="chat-header">
        <div id="profile-picture">
          <img src="{% static 'img/skinassist.jpg' %}" alt="Profile Picture" width="100" height="100">
        </div>
        <div id="chat-username">Dr. SkinAssist</div>
        <div id="exit-button" onclick="exitChat()">X</div>
      </div>
      <div id="chat-box"></div>
      <form id="user-input-form">
        <input autocomplete="off" type="text"  id="user-input" placeholder="Type your message...">
        {% csrf_token %}
        <button type="submit" id="send-button">Send</button>
      </form>
      <div class="options-container" id="options-container"></div>
    </div>

    <div id="chat-icon" onclick="toggleChat()">&#128172;</div>
    <script>
      const chatContainer = document.getElementById('chat-container');
      const chatIcon = document.getElementById('chat-icon');
      const chatBox = document.getElementById('chat-box');
      const userInputField = document.getElementById('user-input');
    
      function exitChat() {
        chatContainer.style.display = 'none';
        chatIcon.style.display = 'flex';
      }
    
      function toggleChat() {
        chatContainer.style.display = 'block';
        chatIcon.style.display = 'none';
      }
    
      function appendMessage(message, sender) {
        const messageElement = document.createElement('div');
        messageElement.classList.add('message');
    
        if (sender === 'user') {
          messageElement.innerHTML = `You: ${message}`;
          messageElement.classList.add('user-message');
        } else {
          if (message.includes("Sorry sir/mam, I don't understand")) {
            messageElement.innerHTML = `${message} <button onclick="openQueryForm()">Ask a Question</button>`;
          } else {
            messageElement.innerHTML = message;
            messageElement.classList.add('bot-message');
          }
        }
    
        chatBox.appendChild(messageElement);
        chatBox.scrollTop = chatBox.scrollHeight;
      }
      function openQueryForm() {
        const queryFormUrl = "{% url 'query_view' %}";
    
        // Redirect to the query form view
        window.location.href = queryFormUrl;
    }
    
      
     
    
      document.getElementById('user-input-form').addEventListener('submit', function (event) {
        event.preventDefault();
        const userInput = userInputField.value;
        appendMessage(userInput, 'user');
    
        const queryParams = `user_input=${encodeURIComponent(userInput)}`;
        fetch(`/get_bot_response/?${queryParams}`, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
          },
        })
          .then(response => response.json())
          .then(data => {
            const botResponse = data.bot_response;
            appendMessage(botResponse, 'bot');
          })
          .catch(error => {
            console.error('Error:', error);
          });
    
        userInputField.value = '';
      });
    </script>

  </footer>
</section>
